#section-catalog-content {
    background-color: var(--color-bg-quaternary);
    color: var(--color-font-secundary);
    padding-top: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#section-catalog-content h2 {
    margin: 25px 0;
    font-size: 20px;
}

#section-description-content{
    background-color: var(--color-bg-tertiary);
    text-align: center;
    color: var(--color-font-secundary);
}

#section-description-content h2 {
    padding: 25px 0;
    font-size: 20px;
}

@media (min-width: 1200px) {
    #section-catalog-content h2 {
        font-size: 32px;
    }

    #section-description-content h2 {
        font-size: 32px;
    }
}